/* ==========================================
   ABOUT SECTION
========================================== */

.about{

    background:var(--background);

}

/* Container */

.about .container{

    max-width:1000px;

    margin:auto;

    text-align:center;

}

/* Small Title */

.about span{

    display:inline-block;

    color:var(--accent);

    font-size:14px;

    font-weight:700;

    letter-spacing:3px;

    text-transform:uppercase;

    margin-bottom:15px;

}

/* Heading */

.about h2{

    font-size:48px;

    font-weight:800;

    color:var(--primary);

    margin-bottom:30px;

}

/* Paragraph */

.about p{

    max-width:850px;

    margin:auto;

    margin-bottom:20px;

    font-size:18px;

    line-height:1.9;

    color:var(--secondary);

}

/* Button */

.about .btn{

    display:inline-block;

    margin-top:35px;

}