/* ===========================
   CONTACT
=========================== */

.contact{

    background:#e8e8eb;

    text-align:center;

}

.contact h2{

    font-size:42px;

    margin-bottom:20px;

}

.contact p{

    font-size:18px;

    color:var(--secondary);

    margin-bottom:15px;

}

.contact a{

    color:var(--accent);

    font-weight:600;

}

.contact a:hover{

    text-decoration:underline;

}