/* ===========================
   FOOTER
=========================== */

.footer{

    background:#111111;

    color:#ffffff;

    text-align:center;

    padding:30px 0;

}

.footer p{

    color:#dddddd;

    font-size:15px;

}