/* ==========================================
   MODELING PAGE
========================================== */

.modeling-hero{

    min-height:100vh;

    padding-top:40px;

}

/* ==========================================
   DARK OVERLAY
========================================== */

.modeling-hero .overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.55);

}

/* ==========================================
   HERO CONTENT
========================================== */

.modeling-hero .hero-content{

    position:relative;

    z-index:2;

    min-height:100vh;

    display:flex;

    align-items:center;

}

.modeling-hero .hero-text{

    max-width:650px;

    color:#161247;

}

/* ==========================================
   TEXT
========================================== */

.modeling-hero .subtitle{

    display:inline-block;

    color:#727a81;

    letter-spacing:3px;

    font-size:14px;

    font-weight:600;

    margin-bottom:20px;

}

.modeling-hero h1{

    font-size:80px;

    line-height:1.05;

    font-weight:800;

    margin-bottom:30px;

    color:#f5f6f7;

}

.modeling-hero p{

    font-size:22px;

    line-height:1.8;

    max-width:600px;

    color:rgba(255,255,255,.92);

    margin-bottom:45px;

}

/* ==========================================
   BUTTONS
========================================== */

.modeling-hero .hero-buttons{

    display:flex;

    gap:20px;

}

.modeling-hero .primary-btn{
    border:2px solid #ffffff;
    background:#75767a;

    color:#111111;

}

.modeling-hero .primary-btn:hover{

    background:#1054d1;

    color:#0c0b0b;

}

.modeling-hero .secondary-btn{

    border:2px solid #ffffff;
    background:#75767a;
  color:#050505;

}

.modeling-hero .secondary-btn:hover{

    background:#1054d1;

    color:#111111;

}

/* ==========================================
   WHITE NAVIGATION
========================================== */

.modeling-page .logo,
.modeling-page .nav-links a{

    color:var(--primary);

}

.modeling-page .nav-links a.active{

    color:var(--accent);

}

.modeling-page .nav-links a::after{

    background:var(--gradient);

}


/* ==========================================
   MOBILE
========================================== */

@media(max-width:992px){

.modeling-hero h1{

    font-size:60px;

}

.modeling-hero p{

    font-size:18px;

}

}

@media(max-width:768px){

.modeling-hero{

    text-align:center;

}

.modeling-hero .hero-content{

    justify-content:center;

}

.modeling-hero h1{

    font-size:44px;

}

.modeling-hero p{

    font-size:17px;

}

.modeling-hero .hero-buttons{

    flex-direction:column;

    align-items:center;

}

}