.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    box-shadow:var(--shadow);
    z-index:1000;
}

.navbar{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

.logo a{
    font-size:30px;
    font-weight:700;
}

.nav-links{
    display:flex;
    gap:35px;
}

.nav-links a{
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:var(--accent);
}

.menu-toggle{
    display:none;
    font-size:32px;
    cursor:pointer;
}