/* ==========================================
   HEADER
========================================== */

.header{

    position:fixed;

    top:20px;

    left:0;

    width:100%;

    z-index:1000;

}

/* ==========================================
   NAVBAR
========================================== */
.navbar{

    width:95%;

    max-width:1350px;

    margin:auto;

    height:80px;

    padding:0 35px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:50px;

    background:rgba(211, 229, 248, 0.92);

    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);

    border:1px solid rgba(148,163,184,.18);

    border-radius:20px;

    box-shadow:
        0 10px 30px rgba(15,23,42,.08),
        0 1px 0 rgba(255,255,255,.6);

}

/* ==========================================
   LOGO
========================================== */

.logo{

    font-size:20px;

    font-weight:800;

    color:var(--primary);

    white-space:nowrap;

    flex-shrink:0;

}

/* ==========================================
   NAVIGATION
========================================== */

.nav-links{

    display:flex;

    align-items:center;

    gap:40px;

}

.nav-links a{

    position:relative;

    font-size:16px;

    font-weight:500;

    color:var(--secondary);

    transition:.35s;

}

/* Hover */

.nav-links a:hover{

    color:var(--accent);

}

/* Active */

.nav-links a.active{

    color:var(--accent);

    font-weight:600;

}

/* Underline */

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:3px;

    border-radius:20px;

    background:var(--gradient);

    transition:.35s;

}

.nav-links a:hover::after,

.nav-links a.active::after{

    width:100%;

}

/* ==========================================
   MOBILE BUTTON
========================================== */

.menu-toggle{

    display:none;

    background:none;

    border:none;

    cursor:pointer;

    font-size:30px;

    color:var(--primary);

}