/* ===========================
   SERVICES
=========================== */

.services{

    background:#c8d1e4;

}

.service-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

    margin-top:50px;

}

.service-card{

    background:#d6d8db;

    padding:35px;

    border-radius:15px;

    box-shadow:var(--shadow);

    transition:.3s;

}

.service-card:hover{

    transform:translateY(-8px);

}

.service-card h3{

    margin-bottom:15px;

    font-size:24px;

}

.service-card p{

    color:var(--secondary);

}